@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #9EB8D9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color:#265073;
  color: white;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-bar input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  width: 166px;
  height: 34px;
  top: 7px;
  left: 10px;
}
.icons {
  display: flex;
  gap: 1rem;
}
.container {
  display: flex;
}
.sidebar {
  width: 200px;
  height: 861px;
  top: 51px;
  padding: 1rem;
  background-color: #f4f4f4;
}
.category-list {
  list-style: none;
  padding: 0;
}
.category-list li {
  margin-bottom: 0.5rem;
}
.main-content {
  width: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.product-item {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 1rem;
  background: white;
  width: 217px;
  height: 319px;
  top: 104px;
  text-align: center;
}
.text{
  width: 111px;
  height: 40px;
  top: 321px;
  left: 269px;
}
.product-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.delete-icon {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: #888;
}
.delete-icon span {
  margin-left: 0.5rem;
}
.add-to-cart-button {
  background-color: #265073;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-to-cart-button:hover {
  background-color: #005f5f;
}